body {
    display: flex;
    flex-direction: column;
    color: #ddd;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: url('../splashscreen.png') center center no-repeat #222;
    background-size: 256px 256px;
}

#app {
    position: relative;
    /* margin: 10px auto; */
    background: #222;
    font-size: 14px;
    box-shadow: 5px 5px 10px -5px #000;
    /* border-radius: 5px; */
    overflow: hidden;
}

#logo {
    pointer-events: none;
    position: relative;
    z-index: 2;
    padding: 0.8% 0;
    width: 100%;
    text-align: center;
}

#logo img {
    transition: all 0.5s ease;
    width: 10%;
}

#logo.play-status img {
    width: 6%;
}

#container,
#container>div {
    width: 100%;
    height: 100%;
}

#container>div {
    padding-top: 8%;
    visibility: hidden;
    text-align: center;
    opacity: 0;
}

#container>div.action {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease;
    padding-left: 16px; padding-right: 16px; overflow-y: scroll;
}

#start-btn p:nth-child(2) {
    display: none;
}

#start-btn:disabled p:nth-child(1) {
    display: none;
}

#start-btn:disabled p:nth-child(2) {
    display: block;
}

#play {
    background: url('../img/background-1.jpg');
    background-size: 100% 100%;
}

#canvas {
    z-index: 3;
    pointer-events: none;
}

.content {
    width: 100%;
    height: 100%;
}

.content .header {
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.content .header ul {
    width: 45%;
    height: 50px;
    font-size: 20px;
}

.content .header li img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.content .header ul,
.content .header ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content .header .option img {
    cursor: pointer;
}

.content .header .option img:nth-child(2) {
    display: none;
}

.content .header .option li:active {
    opacity: 0.5;
}

.content .header .option li.active img:nth-child(1) {
    display: none;
}

.content .header .option li.active img:nth-child(2) {
    display: block;
}

#over .message {
    margin-left: 29%;
    width: 71%;
    display: flex;
}

#over .message img {
    width: 30px;
    height: 30px;
}

#over .message span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 20%;
}

#over .message span:nth-last-child(1) {
    width: 60%;
    padding-left: 4%;
    justify-content: space-between;
}

#over input {
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    width: 35%;
    margin: 0 auto;
    height: 30px;
}

table {
    height: 80%;
    overflow: hidden;
}

footer{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    color: #333;
    font-size: .8rem;
    opacity: 0.8;
}
footer a{
    color: inherit;
    text-decoration: none;
}

.gui_joystick {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 235px;
	height: 265px;
	z-index: 90
}

.loader_ads {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #dd990a;
    border-right: 8px solid #d25627;
    border-bottom: 8px solid red;
    border-left: 8px solid #556080;
    width: 32px;
    height: 32px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden{ display: none;}